{% extends "base.html" %}
{% block title %}Регистрация нового пользователя{% endblock %}
{% block content %}
<div style="text-align: center;">
  <h1>Войти</h1>
  <div class="">
    <form method="POST">
      {% csrf_token %}
      {% for field in login_form %}
        <div>
          {{ field.label }}
          {{ field }}
        </div>
        {% endfor %}
      <button class="" type="submit">Войти</button>
    </form>
    <p class="text-center">У вас нету аккаунта? <a href="{% url 'persons:registration' %}">Создать аккаунт</a>.</p>
  </div>

{% endblock %}
