{% extends "base.html" %}
{% block title %}Регистрация нового пользователя{% endblock %}
{% block content %}
<div style="text-align: center;">
  <h1>Регистрация</h1>


  <div class="">
    <form  method="post" class="" enctype="multipart/form-data">
      {% csrf_token %}
      {% for field in user_form %}
        <div>
          {{ field.label }}
          {{ field }}
        </div>
        {% endfor %}
      {% for field in profile_form %}
        <div>
          {{ field.label }}
          {{ field }}
        </div>
        {% endfor %}
      <hr >
      <button class="" type="submit">Создать профиль</button>
    </form>
  </div>
<p>*- Обязательные поля для заполнения</p>

{% endblock %}
